
.text-white { color: #fff;}
.bg-white { background-color: #fff;}

.bg-black { background-color: #000;}
.text-white { color: #fff; }
#header { display: flex;}
h3{ margin-top: 14%;}
#footer{ text-align:center;}
#data{ display: flex; justify-content: space-between;}
#profile{  background-color: #68C230; width: 30%; padding: 2%; text-align:justify; height: 150px;}
#groups{ background-color: #68C230; width: 60%; padding: 2%;}
.logoutbtn{ padding: 5px; font-size: 15px; background-color: #3498db; color: white; border-radius: 5px; margin-bottom: 1%;}
#voted{padding: 5px; font-size: 15px; background-color: red; color: white; border-radius: 5px; }
.logoutbtn:hover{ padding: 5px; font-size: 15px; background-color:rgb(43, 238, 245); color: white; border-radius: 5px;}
#votebtn{ padding: 5px; font-size: 15px; background-color: #3498db; color: white; border-radius: 5px;}
#votebtn:hover{ padding: 5px; font-size: 15px; background-color: rgb(43, 238, 245); color: white; border-radius: 5px;}
.col-12{ margin-top: 2%;}